@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
//@include foundation-forms;
//@include foundation-visibility-classes;
//@include foundation-float-classes;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-close-button;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-menu;
@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;

//@include motion-ui-transitions;
//@include motion-ui-animations;


body {
  height: 100%;

}

* {
  transition: all 300ms;
}
.flex-container {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-item {
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include breakpoint(medium) {
    max-width: 50%;
  }
}


.quote {
  margin-bottom: 50px;
  
  p {
    font-size: 1.5rem;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twitter-share-button {
  font-size: 1.5rem;
}

.button {
  border: 1px solid;
  margin:0;
  background: #fff;
}

.page-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  color: $white;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $white;
  p {
    font-size: .8rem;
    margin: 0;
    padding: 0 20px;
  }
}